[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibSSE-NG.git
[submodule "lib/commonlibsse-ng"]
	path = lib/commonlibsse-ng
	url = https://github.com/alandtse/CommonLibSSE-NG.git
	branch = ng
[submodule "lib/commonlibf4"]
	path = lib/commonlibf4
	url = https://github.com/libxse/commonlibf4.git
